{{ partial "header" . }}
{{ partial "navbar" . }}

<!-- Main -->
  <main id="main" class="music-page big-padding-top big-padding-bottom">
    <div class="hero-img">
      <img class="back-img" src="/img/back-rites-low-transparent.png" />
    </div>
    <h1 class="align-center">Albums</h1>
    <section class="big-padding-bottom">
      {{ range where .Pages "Type" "music" }}
        {{ if .Params.album }}
          {{ partial "albumproject.html" . }}
        {{ end }}
      {{ end }}
      <h1 class="align-center medium-padding-bottom">Singles</h1>
      <div class="projects-grid">
        {{ range where .Pages "Type" "music" }}
          {{ if and (not .Params.album) (not .Params.collab) }}
            {{ partial "musicproject.html" . }}
          {{ end}}
        {{ end }}
      </div>
      <h1 class="align-center medium-padding-top medium-padding-bottom">Collaborations and Compilations</h1>
      <div class="projects-grid">
        {{ range where .Pages "Type" "music" }}
          {{ if .Params.collab }}
            {{ partial "musicproject.html" . }}
          {{ end}}
        {{ end }}
      </div>
    </section>
</main>

{{ partial "footer" . }}
