{{ partial "header" . }}
{{ partial "navbar" . }}

<!-- Main -->
  <main id="main" class="music-page big-padding-top big-padding-bottom">
    <h1 class="align-center">Albums</h1>
    <section class="big-padding-bottom">
      {{ range where .Pages "Type" "music" }}
        {{ if .Params.album }}
          {{ partial "albumproject.html" . }}
        {{ end }}
      {{ end }}
      <h1 class="align-center medium-padding-bottom">Singles</h1>
      <div class="projects-grid">
        {{ range where .Pages "Type" "music" }}
          {{ if not .Params.album }}
            {{ partial "musicproject.html" . }}
          {{ end}}
        {{ end }}
      </div>
    </section>
</main>

{{ partial "footer" . }}
