/* --------------------------------
////////// Variables //////////////
---------------------------------*/

:root {
  --backColor: #110f0f; /* backColor */
  --textColor: #a3bf93; /* textColor */
  --textColorDarker: #484847; /* textColorDarker */
  --accentColor: #922d2d; /* accentColor */

  --spacing_xxs: 4px; /* spacing_xxs */
  --spacing_xs: 8px; /* spacing_xs */
  --spacing_sm: 16px; /* spacing_sm */
  --spacing_md: 24px; /* spacing_md */
  --spacing_lg: 32px; /* spacing_lg */
  --spacing_xl: 40px; /* spacing_xl */
  --spacing_xxl: 48px; /* spacing_xxl */

  --base_font_size: 18px; /* base_font_size */
  --base_line_height: 24px; /* base_line_height */
  --medium_font_size: 20px; /* medium_font_size */
  --medium_line_height: 32px; /* medium_line_height */
  --large_font_size: 24px; /* large_font_size */
  --large_line_height: 48px; /* large_line_height */
  --extra_large_font_size: 40px; /* extra_large_font_size */
  --extra_large_line_height: 64px; /* extra_large_line_height */
}

/* ------ animations -------*/

@keyframes haunted {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  33% {
    opacity: 0.2;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 2;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------------------
//////// BASIC STRUCTURE //////////
---------------------------------*/

html {
  width: 100%;
}

body {
  font-size: 18px; /* base_font_size */
  line-height: 24px; /* base_line_height */
  font-family: "IM Fell DW Pica", serif;
  font-weight: 500;
  width: 100%;
  color: #a3bf93; /* textColor */
  background-color: #110f0f; /* backColor */
}

img {
  max-width: 100%;
  height: auto;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px; /* spacing_lg */
}

.large-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px; /* spacing_lg */
}

.hidden {
  display: none;
}

.mobile {
  display: none;
}

/* -------- FLEX ---------*/

.flex-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex-6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

/* -------- PADDING ---------*/

.small-padding {
  padding: 15px;
}

.small-padding-left {
  padding-left: 15px;
}

.small-padding-right {
  padding-right: 15px;
}

.small-padding-top {
  padding-top: 15px;
}

.small-padding-bottom {
  padding-bottom: 15px;
}

.medium-padding {
  padding: 30px;
}

.medium-padding-top {
  padding-top: 30px;
}

.medium-padding-bottom {
  padding-bottom: 30px;
}

.medium-padding-right {
  padding-right: 30px;
}

.medium-padding-left {
  padding-left: 30px;
}

.big-padding {
  padding: 60px;
}

.big-padding-top {
  padding-top: 60px;
}

.big-padding-bottom {
  padding-bottom: 60px;
}

.big-padding-left {
  padding-left: 60px;
}

.big-padding-right {
  padding-right: 60px;
}

/* --------------------------------
//////////// AUDIO PLAYER /////////
---------------------------------*/

.audio-player {
  margin-bottom: 8px; /* spacing_xs */
  border-bottom:2px solid;
  padding-top: 8px; /* spacing_xs */
  padding-bottom: 8px; /* spacing_xs */
  line-height:0;
  position:relative;
  text-align:left;
}

.song-link {
  margin-bottom: 24px; /* spacing_md */
}

#play-pause-button {
  color: inherit;
  background: none;
  font-weight: bold;
  font-family:inherit;
  font-size:18px;
  border:0;
  display:inline-block;
  cursor:pointer;
  width:70px;
  box-sizing:border-box;
}

#play-pause-button svg {
  display:inline-block;
  width: 13px;
  height: 20px;
  vertical-align:top;
  margin-right:8px; /* spacing_xs */
}

.audio-player .bar-container {
  height:6px;
  position:relative;
  display:inline-block;
  width: calc(100% - 64px);
}

.audio-player #progress-bar {
  height:6px;
  position:absolute;
  left:0;
  top: -8px;
  width:0;
  border-bottom:6px solid;
  color:inherit;
  transition:0.3s;
}

/* --------------------------------
//////////// TYPOGRAPHY ///////////
---------------------------------*/

h1 {
  font-family: "Mandrita Display SSi";
  text-transform: uppercase;
  font-size: 40px; /* extra_large_font_size */
  line-height: 37px; /* extra_large_line_height */
}

h2 {
  font-size: 24px; /* large_font_size */
  line-height: 48px; /* large_line_height */
}

h3 {
  font-size: 20px; /* medium_font_size */
  line-height: 32px; /* medium_line_height */
}

h4 {
  font-size: 18px; /* base_font_size */
  line-height: 24px; /* base_line_height */
}

p {
}

.italic {
  font-style: italic;
}

small {
  font-size:12px;
}

strong,
.bold {
  font-weight: 800;
}

.darker {
  color: #484847; /* textColorDarker */
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.separator {
  max-width: 150px;
  margin: 0 auto;
  height: 20px;
  line-height: 11px;
}

.separator.align-left {
  margin: 0;
}

a {
  color: #a3bf93; /* textColor */
  text-decoration: none;
}

a:hover {
  font-style: italic;
  color: #922d2d; /* accentColor */
}

/* --------------------------------
//////////// NAVIGATION ///////////
---------------------------------*/

.main-nav {
  padding-top: 16px; /* spacing_sm */
  padding-right: 32px; /* spacing_lg */
  padding-bottom: 16px; /* spacing_sm */
  padding-left: 32px; /* spacing_lg */
}

.main-nav .logo {
  display: inline-block;
  line-height: 48px; /* large_line_height */
}

.main-nav img {
  display: inline-block;
  margin-top: 11px;
}

.menu {
  text-align: right;
  display: inline-block;
  margin: 0 0 0 auto;
  vertical-align: top;
}

.menu-item {
  width: 70px;
  display: inline-block;
  text-align: center;
}

.menu-item.active {
  color: #922d2d; /* accentColor */
}

.menu h2 {
  display: inline-block;
}

.dot {
  padding: 0 16px; /* spacing_sm */
  position: relative;
  top: -4px;
}

.dot img {
  max-width: 7px;
  height: auto;
}

.symbols {
  width: 40px;
  float: right;
}

.menu-button {
  width: 30px;
  position: absolute;
  top: 24px; /* spacing_md */
  right: 24px; /* spacing_md */
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #110f0f; /* backColor */
  padding: 24px; /* spacing_md */
  z-index: 1000;
}

.menu-content .close {
  width: 30px;
  position: absolute;
  top: 24px; /* spacing_md */
  right: 24px; /* spacing_md */
}

/* --------------------------------
//////////// CONTENT //////////////
---------------------------------*/

.back-home {
  display: block;
  margin-top: 24px; /* spacing_md */
}

.back-home span {
  padding: 0 8px;
}

/* -------- HOME PAGE ---------*/

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  line-height: 0;
  overflow: hidden;
}

.new-album {
  max-width:450px;
  margin: 48px auto 0 auto;
}

.home .new-album {
  max-width:450px;
  margin: 0 auto 0 auto;
}

.new-album .announcement {
  text-align:center;
  line-height:1.2em;
  margin-top:24px; /* spacing_md */
  margin-bottom:24px; /* spacing_md */
}

.new-album .small-print {
  margin-top:24px; /* spacing_md */
  margin-bottom:48px;
  display:block;
  line-height:16px;
}

.hero-img .back-img {
  opacity: 0.5;
  width: 100%;
}

.hero-logo-desc {
  font-style: italic;
}

.hero-logo-desc h1 {
  font-style: italic;
  font-size:24px;
  font-family: "IM Fell DW Pica", serif;
}

.hero-logo-desc p {
  font-size: 28px;
}

.hero-logo {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.home-spacer {
  height:400px;
}

.hero-logo img {
  width: 100%;
}

.drips {
  max-width: 30px;
}

.crosses {
  max-width: 100px;
  animation-name: haunted;
  animation-duration: 7s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* --- visuals --- */

.projects-grid {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.projects-grid .project.visual h2 {
  opacity:0;
}

.projects-grid .project.visual:hover h2 {
  opacity:0;
}

.slider {
  position: relative;
}

.slick-prev,
.slick-next {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  height: 166px;
  padding: 0;
  z-index: 100;
  width: 60px;
  color: transparent;
  cursor: pointer;
}

.slick-prev:focus,
.slick-next:focus {
  outline: 0;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.project.visual {
  margin: 8px; /* spacing_xs */
  overflow: hidden;
  height: auto;
  width:calc(33.3333% - 16px);
  position: relative;
}

.project.visual .cover {
  line-height: 0;
  height:300px;
  transition: 0.5s;
  border-radius: 4px;
  background-color: #798465;
  background-size: cover;
  filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  background-blend-mode: multiply;
}

.project.visual .cover-inside {

}

.project.visual .description {
  text-align:center;
  padding: 24px; /* spacing_md */
  position:relative;
  z-index:10;
}

.project.visual .description span {
  color: #484847; /* textColorDarker */
}

.project.visual .description h1 {
  line-height: 0.9em;
  margin-bottom: 16px; /* spacing_sm */
  margin-top:-40px;
  transition:0.5s;
  word-break: break-word;
  font-size:35px;
}

.project.visual h2 {
  position: absolute;
  z-index: 10;
  text-align: center;
  padding: 0 24px; /* spacing_md */
  display: block;
  line-height: 300px;
  width: 100%;
  font-size: 32px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s;
  font-style: italic;
}

.project.visual:hover a .description {
  font-style:normal;
  color: #a3bf93; /* textColor */
}

.project.visual:hover h1 {
  color:#922d2d; /* accentColor */
}

.project.visual:hover .cover {
  background-color: #a3bf93; /* textColor */
  border-radius: 4px;
  overflow: hidden;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.project.visual:hover h2 {
  opacity: 1;
}

.visual-grid {
  display: grid;
  margin: 0 32px; /* spacing_lg */
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 32px; /* spacing_lg */
  row-gap: 32px; /* spacing_lg */
  justify-items: stretch;
}

.visual-grid header {
  grid-column: 3 / 6;
  padding-bottom: 24px; /* spacing_md */
  margin-bottom: 24px; /* spacing_md */
  text-align: center;
}

.visual-grid header h1 {
  font-size: 80px;
  line-height: 72px;
  padding: 0 24px; /* spacing_md */
  margin-bottom: 24px; /* spacing_md */
  text-align: center;
  word-break: break-word;
}

.visual-grid a {
  color:inherit;
  font-size:24px;
}

.visual-grid header .description {
  font-size: 24px; /* large_font_size */
  line-height: 32px; /* medium_line_height */
}

.grid-item {
  overflow: hidden;
  position: relative;
  line-height: 0;
}

.grid-item p {
  width: 100%;
  height: 100%;
}

.grid-item img {
  object-fit: cover;
}

.grid-item.image-fill img {
  max-width: none;
  width: auto;
  max-height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.project-nav .project.visual .cover {
  height:150px;
}

.project-nav .project.visual h2 {
  top: 46px;
  line-height: 1em;
}

.project-nav .project.visual .description {
  display:none;
}

@media screen and (max-width: 480px) {
  .visual-grid {
    display: block;
  }
}

/* --- Music --- */

.music-page h1 {
  font-family: "IM Fell DW Pica", serif;
  font-size: 24px;
}

.project.music {
  margin: 8px; /* spacing_xs */
  overflow: hidden;
  height: auto;
  width:calc(33.3333% - 16px);
  position: relative;
}

.project.music .cover {
  line-height: 0;
  transition: 0.5s;
  border-radius: 4px;
  background-color: #798465;
  overflow: hidden;
}

/* --- Politics --- */

.politics {
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  color: #922d2d; /* accentColor */
}

.flag img {
  max-width: 155px;
}

.politics p {
  margin-bottom: 32px; /* spacing_lg */
  margin-top: 32px; /* spacing_lg */
}

@media screen and (max-width: 480px) {
  .politics {
    font-size: 24px;
    line-height: 25px;
  }
}

/* --------------------------------
//////////// FOOTER ///////////////
---------------------------------*/

.stay-safe {
  width: 250px;
  height: 100px;
  margin-right: 32px; /* spacing_lg */
  margin-bottom: 32px; /* spacing_lg */
  float: right;
  opacity: 0.1;
  transition: 0.5s;
}

.stay-safe a {
  line-height: 0;
}

.stay-safe:hover {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .hero-img .back-img {
    margin-top: -280px;
  }
}

@media screen and (max-width: 1020px) {
  .visual-grid header h1 {
    padding: 0;
    font-size: 60px;
    line-height: 55px;
  }

  .project.visual {
    width:calc(50% - 24px);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size:30px;
    line-height:27px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }
  .main-nav .logo {
    display:block;
    text-align:center;
  }
  .menu {
    text-align:center;
    width:100%;
  }
  .menu .dot {
    display:none;
  }
  .menu-item {
    padding-right: 16px; /* spacing_sm */;
    width:auto;
    font-size:16px;
  }
  .menu-item h2 {
    font-size:20px;
    line-height:26px;
  }
  .symbols {
    display:none;
  }
  .home-spacer {
    height:420px;
  }
  .hero-logo img {
    width: 100%;
  }
  .home-bio .flex-row {
    display: block;
  }
  .home-bio {
    text-align: center;
  }
  .home-bio .align-right {
    text-align: inherit;
    padding: 0 0 24px 0;
  }
  .home-bio .medium-padding-left {
    padding: 0;
  }
  .big-padding-top {
    padding-top: 40px;
  }
  .big-padding-bottom {
    padding-bottom: 40px;
  }
  .hero-img .back-img {
    width: 250%;
    max-width: 250%;
    transform: translate(-25%);
    margin-top: -100px;
  }
  .stay-safe {
    margin-left: auto;
    margin-right: auto;
    float: none;
    opacity: 1;
  }
  .visual-grid header h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .visual-grid header .description {
    font-size: 20px; /* medium_font_size */
    line-height: 24px; /* base_line_height */
  }
  .projects-grid {
    padding: 0 32px; /* spacing_lg */;
    flex-direction:column;
  }
  .projects-grid .project.visual h1 {
    font-size: 35px;
    margin-top:-30px;
  }
  .project.visual,
  .project.music {
    height:auto;
    margin-bottom: 24px; /* spacing_md */
    width:100%;
    margin-left:0;
    margin-right:0;
    margin-top:0;
  }
  .project.visual h2 {
    opacity: 1;
    line-height: 150px;
  }
  .grid-item {
    margin-bottom: 16px; /* spacing_sm */;
  }
  .new-album {
    padding-left: 32px; /* spacing_lg */;
    padding-right: 32px; /* spacing_lg */;
  }
}
