<div class="new-album align-center">
  <a
    title="Link to the {{ .Title }} album (opens in new tab)"
    aria-label="Link to the {{ .Title }} album (opens in new tab)"
    href="{{ with .Params.link }}{{ . }}{{ end }}">
    <img src="{{ with .Params.cover }}{{ . }}{{ end }}" />
  </a>
  <div class="separator"><img src="/img/separator.svg" /></div>
    <a
      title="Link to the {{ .Title }} album (opens in new tab)"
      aria-label="Link to the {{ .Title }} album (opens in new tab)"
      href="{{ with .Params.link }}{{ . }}{{ end }}">Get it on Bandcamp now</a>
  <div class="separator"><img src="/img/separator.svg" /></div>
  <small class="darker small-print">
    100% of the profits (other than Bandcamp’s 15% cut) will be donated, on a rotating weekly basis to The Okra Project (NYC), and Taking What We Need (Montréal). The money made from our album sales will continue to be donated for the foreseeable future.
  </small>
</div>
