    <footer class="footer">
      <div class="wrap">
        <div class="footer-menu">
          {{ range .Site.Menus.footer }}
            <a class="menu-item" href="{{ .URL }}" data-translatable>
              {{ .Name }}
            </a>
          {{ end }}
        </div>
      </div>
      <div class="stay-safe">
        <a target="_blank" href="https://blood-and-dust.bandcamp.com/merch/stay-safe-while-communing-with-the-dead-sticker">
        <img src="/img/sticker.svg"/>
        </a>
      </div>
    </footer>
  </body>
</html>
