{{ $current := . }}
<nav class="main-nav">
  <div class="big-wrap">
    <div class="logo">
      <a href="/"><img src="/img/logo-long.svg"/></a>
    </div>
    <div class="menu">
      {{ $currentPage := . }} {{ range .Site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Visuals") (eq $current.Section "visuals")) }}
        <span class="dot"><img src="/img/dot.svg"/></span>
        <a class="menu-item {{ if $active }}active{{ end }}" href="{{ .URL | absLangURL }}">
          <h2>{{ .Name }}</h2>
        </a>
      {{ end }}
    </div>
    <div class="symbols">
      <img src="/img/symbols.svg"/>
    </div>
  </div>
</nav>
